
/* 
||||||||||||||||||||||||||||||||||||||||

    · NOMBRE:   Exe Learning ULHI
    · VERSION:  2.1
    · FECHA:    17 / 07 / 2014
    
||||||||||||||||||||||||||||||||||||||||
*/


/*||||  PARTE SUPERIOR

 - Utilizado para poner el título de la unidad
 - Es el bloque blanco superior que está fijo      
*/



#nav-toggler {
    border-right: 1px solid #e0e0e0;
    left: 0;
    position: fixed;
    top: -13px;
    height: 45px;
    z-index: 1000;
	width: 50px;
}

#nav-toggler a {
	background: url("https://ikastaroak.ulhi.net/edu/style/ULHI22/collapse.png") no-repeat center center #fff;
    float: left;
    text-indent: -99999px;
    height: 45px;
	width: 50px;
}
#nav-toggler a:hover {
	background-color: #f5f5f5;
}

#topPagination {
    right: 0px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 122px
}

#topPagination a {
	display: inline-block;
    padding: 13px 30px;
}

#topPagination .prev {
    background: url("https://ikastaroak.ulhi.net/edu/style/ULHI22/anterior.png") no-repeat scroll center center #fff !important;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    position: absolute;
    left: 0;
    text-indent: -9999px;
}

#topPagination .next {
    background: url("https://ikastaroak.ulhi.net/edu/style/ULHI22/siguiente.png") no-repeat scroll center center #fff !important;
    position: absolute;
    right: 0;
    text-indent: -9999px;
}

#topPagination a:hover {
	background-color: #f5f5f5 !important;
}



#main-wrapper {
    margin-top: 55px;
    overflow: hidden;
    padding: 0;
}




#siteNav ul li,
#siteNav ol li,
#navcontainer ul li,
#navcontainer ol li {
	padding: 0 0 0 0;
}

#siteNav,
#navcontainer {
	width: 20%;;
	float: left;
	font-size: 13px;
	margin-right: 10px;
	padding: 0;
	border-right: 1px solid #dedede;
}

#siteNav ul,				
#navcontainer ul {
	margin: 0px;
	padding: 0;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
}


#siteNav li {
	display: block;
	text-transform: uppercase;
	background-color: #FFF;
	border-bottom: 1px solid #dedede;
}

#siteNav li ul {
	overflow: hidden;
}

#siteNav li ul li {
	background: #edf1f4;
	display: block;
	min-height: auto;
	float: none;
	width: 100%;
}

#siteNav ul li a 							{ padding-left: 7px; padding-right: 25px !important; }
#siteNav ul li ul li a 						{ padding-left: 10px; }
#siteNav ul li ul li ul li a 				{ padding-left: 20px; }
#siteNav ul li ul li ul li ul li a 			{ padding-left: 30px; }
#siteNav ul li ul li ul li ul li ul li a 	{ padding-left: 40px; }


#siteNav a {
	display: block;
	padding-top: 9px;
	padding-bottom: 9px;
	color: #5c5c5c;
	text-decoration: none;
	text-transform: none;
}
#siteNav a:hover {
	color: #000;
	background-color: #f5f5f5;
}


#navcontainer a {
	display: block;
	padding: 9px 7px;
	text-transform: uppercase;
	background-color: #FFF;
	border-bottom: 1px solid #dedede;
}	

#navcontainer a:link, #navlist a:visited {
	color: #5c5c5c;
	text-decoration: none;
	}

#navcontainer a:hover {
	color: #000;
	background-color: #f5f5f5;
}

/* Hide from IE5-mac. Only IE-win sees this. Fixes the peek-a-boo bug!!! */
 
* html #navcontainer {
  margin-right: 10px;
  }
 
* html p {
  height: 1%;
  margin-left: 0;
  }
 
/* End hide from IE5/mac */

div #active {
	display: block;
	padding: 7px;
	background-color: #FFF;
	border-bottom: 1px solid #00b0c9;
	text-transform: uppercase;
	color: #00758a;
	}

div#subnav div {
	display: block;
}

#subnav a {
	background: #eff6f7;
	display: block;
	color: #333333;
	padding: 7px 3px 7px 12px;
	font-size: 12px;
	text-transform: none;
	border-bottom: 1px solid #ccc;
	}

#subnav a:hover {
	color: #51778A;
	background: #f4f8fa;
	border-bottom: 1px solid #c6e2e9;
	}	
	
#subnav #active {
	display: block;
	padding: 7px 3px 7px 12px;
	font-size: 12px;
	text-transform: none;
	color: #51778A;
	background: #fff;
	border-bottom: 1px solid #ccc;
}	
	
	
/* MAIN CONTENT STYLES */

#container {
	border-top: 1px solid #CCC;
	}


	


.other-section{display:none;}
.no-ch{
	background: #fff;
	display: block;
	color: #333333;
	padding: 7px 3px 7px 12px;
	font-size: 12px;
	text-transform: none;
}

#siteNav ul li ul li a.active,
#siteNav ul li ul li a {
	background-color: #ededed;
	color: #555555;
}

#siteNav ul li ul li ul li a.active,
#siteNav ul li ul li ul li a {
	background-color: #eeeeee !important;
	color: #555555 !important;
}
li a.active,
#siteNav ul li ul li a.active,
#siteNav ul li ul li ul li a.active {
	background-color: #00b1c9 !important;
	color: #ffffff !important;
}

#siteNav ul li ul li ul li ul li a {
	background-color: #fff !important;
	color: #000 !important;
}


/*  */

li a.daddy {
	background:url("ico-hijos.png") no-repeat 96% center !important;
	text-transform: normal;
}

li#active a.daddy {
	background:url("ico-hijosDesplegado.png") no-repeat 96% center #00b1c9 !important;
	text-transform: normal !important;
	color: #ffffff;
}

li#active ul li a.daddy {
	color: #555555;
}

li#active ul li a.daddy {
	background:url("ico-hijos.png") no-repeat 96% center !important;
	text-transform: normal;
	padding-left: 20px !important 
}

li.sfhover a.current-page-parent, 
li.sfout a.current-page-parent {
	background:url("ico-hijosDesplegado.png") no-repeat 96% center #00b1c9 !important;
	text-transform: normal !important;
	color: #ffffff !important;
}














@media screen and (min-width: 100px) and (max-width: 756px) {

	#content {
		min-width: 99%;
	}

	#siteNav, #navcontainer {
	    font-size: 13px;
	    float: none;
	    margin-top: 50px;
	    padding: 0;
	    width: 99%;
	}

	#main-wrapper {
	    margin-top: 50px;
	    width: 99% !important;
	}

	#main {
	    width: 93% !important;
	}

	#bottomPagination {
	    width: 99% !important;
	    text-align: center !important;
	}

}

